       	     +-------------------------+
             | CSCC69                  |
             | PROJECT 4: FILE SYSTEMS |
             | DESIGN DOCUMENT         |
             +-------------------------+

---- GROUP ----

>> Fill in the names and email addresses of your group members.

changze.wu@mail.utoronto.ca Changze Wu

---- PRELIMINARIES ----

>> If you have any preliminary comments on your submission, notes for the
>> TAs, or extra credit, please give them here.

>> Please cite any offline or online sources you consulted while
>> preparing your submission, other than the Pintos documentation, course
>> text, lecture notes, and course staff.

https://slideplayer.com/slide/13043055/

             INDEXED AND EXTENSIBLE FILES
             ============================

---- DATA STRUCTURES ----

>> A1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

#define DIRECT_CNT 123
- the number of direct block pointers within an inode, 
used for directly pointing to data blocks.

#define INDIRECT_CNT 1
- the number of indirect block pointers, used to access 
additional data blocks through a single level of indirection.

#define DBL_INDIRECT_CNT 1
- the number of double indirect block pointers, used to access 
data blocks through two levels of indirection.

#define PTRS_PER_SECTOR ((off_t)(BLOCK_SECTOR_SIZE / sizeof(block_sector_t)))
- the number of pointers that can be stored in a single block sector.

#define SECTOR_CNT (DIRECT_CNT + INDIRECT_CNT + DBL_INDIRECT_CNT)
- the total number of block pointers within an inode, including direct, 
indirect, and double indirect.

#define INODE_SPAN ((DIRECT_CNT + PTRS_PER_SECTOR * INDIRECT_CNT + 
PTRS_PER_SECTOR * PTRS_PER_SECTOR * DBL_INDIRECT_CNT) * BLOCK_SECTOR_SIZE)
- the maximum file size an inode can address, considering direct, indirect, 
and double indirect blocks.

struct inode_disk {
    block_sector_t sectors[SECTOR_CNT];
    enum inode_type type;
    off_t length;
    unsigned magic;
};
- an on-disk inode structure containing pointers to data blocks 
and metadata such as type and file length.

struct inode {
    struct list_elem elem;
    block_sector_t sector;
    int open_cnt;
    bool removed;
    struct lock lock;
};
- an in-memory inode, containing essential file metadata and 
synchronization primitives

>> A2: What is the maximum size of a file supported by your inode
>> structure?  Show your work.

notice block size is 512 kb
#direct pointers = 123
#indirect pointers per indirect block = 512/4 = 128
#double indirect blocks = 128 * 128 = 16384

final = 512 * (123 + 128 + 16384 * 512) = 8516120 \approx 8.1 MB


---- SYNCHRONIZATION ----

>> A3: Explain how your code avoids a race if two processes attempt to
>> extend a file at the same time.

when concurrent files extense, the Pintos file system use per-inode 
locks to avoid race condition. Each inode has a dedicated lock. this 
will be initialized when opening or creating the inode. the lock will
acquired before updating file size or writing data. it also released 
after completing operation. this ensures that only one process can modify 
the file size at a time. without the lock, multiple processes could 
simultaneously extend the same file. this will cause file corruption 
or inconsistent metadata. holding the lock during the critical 
section, the system is atomicity and consistency. per-inode 
locking can enbale concurrent access to different files. this metjodeh is 
efficienter than using a global file system lock. it reducing contention 
and enabling safe, simultaneous file operations.

>> A4: Suppose processes A and B both have file F open, both
>> positioned at end-of-file.  If A reads and B writes F at the same
>> time, A may read all, part, or none of what B writes.  However, A
>> may not read data other than what B writes, e.g. if B writes
>> nonzero data, A is not allowed to see all zeros.  Explain how your
>> code avoids this race.

implementing per-inode locking to avoid race condition. each file has
a corresponding inode. also has a dedicated lock. when a 
process writes to a file, it first acquires the inode lock. then 
ensuring no other process can read or write during the modification. 
this make sure atomicity and consistency. the lock held throughout 
the entire write operation and only released whhen complete operation. 
finally process A will either read the complete old data or the entire 
new data with never corrupted or partially updated state.

>> A5: Explain how your synchronization design provides "fairness".
>> File access is "fair" if readers cannot indefinitely block writers
>> or vice versa.  That is, many processes reading from a file cannot
>> prevent forever another process from writing the file, and many
>> processes writing to a file cannot prevent another process forever
>> from reading the file.

---- RATIONALE ----

>> A6: Is your inode structure a multilevel index?  If so, why did you
>> choose this particular combination of direct, indirect, and doubly
>> indirect blocks?  If not, why did you choose an alternative inode
>> structure, and what advantages and disadvantages does your
>> structure have, compared to a multilevel index?

yes. this approach efficient and commonly used. this manage file sizes
that range from small to large, alos balance performance and storage efficiency

file system use per-inode locks to keep fairness. it allow readers and writers 
access files without indefinite blocking. when a process wants to read or write, 
it must acquire the inode lock. if a writer active, readers need  wait until 
the write completes. some time s if many readers active, writer will wait for 
them to finish. this locking mechanism follows a first-come, first-served principle.
make sure neither readers nor writers can starve the other. finally, many reading 
processes cannot indefinitely block a writer aoso many writing processes cannot 
indefinitely block a reader. in this way, keep faierness

                SUBDIRECTORIES
                ==============

---- DATA STRUCTURES ----

>> B1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

fs_device (struct block *)
- holds the block device for the file system. rrrepresents the storage 
medium for file and directory data.

struct dir
- contains a pointer to an inode and a position tracker. 
represents an open directory in the file system.

struct dir_entry
- holds the inode sector, file name, and in-use flag. 
represents a single entry ina directory.

enum inode_type
- difeerence between file and directory inodes, 
allow system to handle types with a single structure.

---- ALGORITHMS ----

>> B2: Describe your code for traversing a user-specified path.  How
>> do traversals of absolute and relative paths differ?

file system use functions to break the path into components to 
traverse user-specified paths. absolute paths, like /, are 
traversed from the root directory. also relative paths are 
traversed from the current working directory. the traversal 
involves parsing the path string. also extract each part 
between slashesor navigat through directories by dir_lookup. 
the system solverelative paths by reference the current directory. 
also when absolute paths access the root, yhen code ensures 
correct navigation to keep context and correctly resolve each 
component in the given path.

---- SYNCHRONIZATION ----

>> B4: How do you prevent races on directory entries?  For example,
>> only one of two simultaneous attempts to remove a single file
>> should succeed, as should only one of two simultaneous attempts to
>> create a file with the same name, and so on.

the file system uses per-inode locks to synchronize access to avoid race. 
when a process try to create, remove, or modify a file in a directory, 
it first acquires the inode lock associated with that directory. and 
lock make sure that no other process can concurrently modify the same 
directory entry.

for eamople, when two processes simultaneously create a file with the 
same name. the first process acquire the lock succeeds and the other waits. 
also, when removing a file, the lock keep only one process can proceed, 
prevent simultaneous deletions. when completed opretaion, the lock released
and other waiting processes to proceed.

employing per-inode locking during critical operations, the system ensures 
atomicity and consistency. inthis way it can effectively preven
race conditions on directory entries.

>> B5: Does your implementation allow a directory to be removed if it
>> is open by a process or if it is in use as a process's current
>> working directory?  If so, what happens to that process's future
>> file system operations?  If not, how do you prevent it?

no. this is achieved by tracking the open count of inodes. when 
a process opens a directory or sets it as the working directory,
then incremented inode’s open count. Before removing a directory, 
the system checks this count. if the count indicates that the 
directory in use, the removal is denied.

this mechanism ensure file system operations for process continue 
without disruption. maintaining reference counts and checking them 
before deletion, the file system preserves stability.

---- RATIONALE ----

>> B6: Explain why you chose to represent the current directory of a
>> process the way you did.

represent current directory of a process as pointer to a directory structure
which stored within the thread structure. use this method since it allow each
process manage its wording directory independently witot interfering others.

storing cureent directory in pointers within thread struct, the system can track
the current directory for each active process. thsi method simplifies 
changing directories and accessing relative paths since the process can 
directly reference its current directory without global state interference.




               SURVEY QUESTIONS
               ================

Answering these questions is optional, but it will help us improve the
course in future quarters.  Feel free to tell us anything you
want--these questions are just to spur your thoughts.  You may also
choose to respond anonymously in the course evaluations at the end of
the quarter.

>> In your opinion, was this assignment, or any one of the three problems
>> in it, too easy or too hard?  Did it take too long or too little time?

>> Did you find that working on a particular part of the assignment gave
>> you greater insight into some aspect of OS design?

>> Is there some particular fact or hint we should give students in
>> future quarters to help them solve the problems?  Conversely, did you
>> find any of our guidance to be misleading?

>> Do you have any suggestions for the TAs to more effectively assist
>> students in future quarters?

>> Any other comments?
