            +--------------------+
            | CSCC69             |
            | PROJECT 1: THREADS |
            | DESIGN DOCUMENT    |
            +--------------------+
   
---- GROUP ----

>> Fill in the names and email addresses of your group members.


Changze Wu <changze.wu@mail.utoronto.ca>

---- PRELIMINARIES ----

>> If you have any preliminary comments on your submission, notes for the
>> TAs, or extra credit, please give them here.

>> Please cite any offline or online sources you consulted while
>> preparing your submission, other than the Pintos documentation, course
>> text, lecture notes, and course staff.

https://rlqyl.github.io/C-Level/CSCC69/CSCC69%20Process%20and%20Thread%20Notes.pdf

                 ALARM CLOCK
                 ===========

---- DATA STRUCTURES ----

>> A1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

Thread : 
    1. int64_t wake_up_time : Use to indicate the time the thread should wake up.




---- ALGORITHMS ----

>> A2: Briefly describe what happens in a call to timer_sleep(),
>> including the effects of the timer interrupt handler.

What happens:
    1. check the sleep time (tick)
    2. calculate the wake_up_time
    3. disable interrupt
    4. insert the sleep list
    5. block thread
    6. restore and unblock

Effects:
    1. increment the system ticks
    2. call thread_tick to manage thread schedule
    3. waking up the sleep thread


>> A3: What steps are taken to minimize the amount of time spent in
>> the timer interrupt handler?

    1. increment a single global counter (ticks++) rather than performing complex calculations
    2. use an ordered list for sleeping threads
    3. the handler only iterates through the head of sleep_list
    4. disable interrupts only briefly


---- SYNCHRONIZATION ----

>> A4: How are race conditions avoided when multiple threads call
>> timer_sleep() simultaneously?

    1. using intr_disable and intr_set_level to protect key code to avoid many threads access the list in same time
    2. sleep list has been insert in order.
    3. only do operation on the head of sleep list in timer_interrupt
    
>> A5: How are race conditions avoided when a timer interrupt occurs
>> during a call to timer_sleep()?

    1. when interrupt disabled, call thread_block
    2. maintain soreted sleep list

---- RATIONALE ----

>> A6: Why did you choose this design?  In what ways is it superior to
>> another design you considered?

    - I choose this design because it ensure the effiency, correctness and scalability of handling thread sleep and operation of wake-up.
    Using sorted list with insert functiom, the timer interrupt only need do operation on the head of list, minimizing the traversal time
    and reduce the cost of interrupt. disable interrupt make atomic modifications to list and race condition without require lock. Compared
    to polling-based wake-up checks, this approach is more efficient, scalable and CPU-friendly.


             PRIORITY SCHEDULING
             ===================

---- DATA STRUCTURES ----

>> B1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

Thread: 
    1. int original_priority : stores the original priority of a thread before priority donation occurs, thus it can restore
    after release
    2. int tick_blocked : stores the current number of ticks should still blocked
    3. struct list locks : maintain the lock list to achieve restore priority
    4. bool donated : indicate whether the thread's priority has been donated to prevent unnecessary restore occured before
    donation
    5. struct lock *blocked : store the lock the thread currently waits

Lock:
    1. struct list_elem holder_elem : track the lock in lock list
    2. int lock_priority : indicate the highest priority for thread waiting for lock


>> B2: Explain the data structure used to track priority donation.
>> Use ASCII art to diagram a nested donation.  (Alternately, submit a
>> .png file.)

Consider three threads:
    1. T1 (31) is waiting for a lock held by T2 (32), so T2 inherits 31.
    2. T2 (32) is waiting for another lock held by T3 (33), so T3 inherits 32.
    3. T3 (33) executes and eventually releases the lock, propagating back the priority donation.

Before donation:
    T1 (31)  ----->  (Lock A)  ----->  T2 (32)
    T2 (32)  ----->  (Lock B)  ----->  T3 (33)

After donation:
    T1 (31)  ----->  (Lock A)  ----->  T2 (32)
    T2 (32 → 33)  ----->  (Lock B)  ----->  T3 (33)

T3 executes and releases Lock B and allowing T2 to run and release Lock A so that  T1 can continue execution.
This ensures high-priority threads are not indefinitely blocked due to lower-priority threads holding critical locks.

---- ALGORITHMS ----

>> B3: How do you ensure that the highest priority thread waiting for
>> a lock, semaphore, or condition variable wakes up first?

    1. use the list sorted by priority
    2. similarly, semaphores keep a sorted list of waiting threads, and when sema_up is called, the highest-priority 
    thread is unblocked
    3. for condv is also similar


>> B4: Describe the sequence of events when a call to lock_acquire()
>> causes a priority donation.  How is nested donation handled?

Sequence:
    1. check lock avaliable
    2. get the current state
    3. do priority donation
    4. update holder's priority
    5. keep track donation
    6. reorder holder's lock list
    7. handle nest donation
        1. If current lock holder is waiting on another, the donation propagates recursively.
        2. The priority is passed up the chain until get the highest holder, ensure all relevant 
        thread update priority with traversal
        3. 
    5. acquire lock
    6. finish state

>> B5: Describe the sequence of events when lock_release() is called
>> on a lock that a higher-priority thread is waiting for.

Sequence:
    1. check the condition
    2. disable interrupt
    3. remove the lock holder and remove from the list
    4. sema_up 
    5. restore original priority and interrupt

---- SYNCHRONIZATION ----

>> B6: Describe a potential race in thread_set_priority() and explain
>> how your implementation avoids it.  Can you use a lock to avoid
>> this race?

    A potential race condition in many threads revise one thread's priority in
    same time, leading the inconsistant of updating.

    1. thread_set_priority_fixed to distingush is manually set or donation
    2. keep ready list in order
    3. low priority thread use thread_yield

    Using a lock could amost avoid this but it will cost more and may casue the deadlock.
    intr_disable is better since it is more light and valid.

---- RATIONALE ----

>> B7: Why did you choose this design?  In what ways is it superior to
>> another design you considered?

    - I use this to ensure the correctness, scalability and maintainablity of handling
    thread. Through separating the original priority and donation, we can avoid unintended 
    priority inversion and restore the priority after lock release. Using the sorted list 
    to manage ready list and donation, ensure the highest thread will executes first reducing 
    the unnecessary change. In the meanwhile, disable interrupt in key part, ensure atomic 
    update and avoid using additional lock to face the potential issues such as the cost of 
    lock and deadlock. Compare to other method, this one get good balance between effiency and correctness.



               SURVEY QUESTIONS
               ================

Answering these questions is optional, but it will help us improve the
course in future quarters.  Feel free to tell us anything you
want--these questions are just to spur your thoughts.  You may also
choose to respond anonymously in the course evaluations at the end of
the quarter.

>> In your opinion, was this assignment, or any one of the three problems
>> in it, too easy or too hard?  Did it take too long or too little time?

Too hard, I finish alarm part in short time, but I spend one week on how to solve the donation part.

>> Did you find that working on a particular part of the assignment gave
>> you greater insight into some aspect of OS design?

    True. Particularly in handling concurrency, race conditions, and efficient scheduling. 

>> Is there some particular fact or hint we should give students in
>> future quarters to help them solve the problems?  Conversely, did you
>> find any of our guidance to be misleading?

>> Do you have any suggestions for the TAs to more effectively assist
>> students, either for future quarters or the remaining projects?

    Actually, i can't keep up with the TA paces in tut. It might be my problem 
    and i spend a lot of time after course to find and solve the questions

>> Any other comments?
